

<h1>Hello Day 4 EJS.  Welcome, <%= name %> <%= lastname %>! </h1>
<h2><%-2+2%></h2> 
<h3>Rajaaaannnnn</h3>

<!-- yaha samma basics finish vayo aaba cms first comtent management system start. check that repository. -->